doctype html
html(lang="es")
  head
    meta(charset='UTF-8')
    link(rel='icon' href='/favicon.ico')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='assets/style.css')
    title victorze
  body
    article.container
      include header.pug
      each post in posts
        a.home-article(href='/posts/' + post.id + '.html')
          h2= post.title
          time(datetime=post.date)= formatDate(post.date)
