<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-tomorrow.min.css">
    <link rel="stylesheet" href="../assets/style.css">
    <title><%= title; %></title>
  </head>
  <body>
    <article class="content">
      <header>
        <h1 class="post-title"><%= title; %></h1>
        <span><%= date; %></span>
      </header>
      <%- contentHtml; %>
    </article>
    <%- include('scripts.html'); %>
  </body>
</html>
