* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 20px;
  color: #111111;
}

a:link {
  color: #323EBE;
}
a:visited {
  color: #323EBE;
}
a:hover {
  color: #2b35a1;
}
a:active {
  color: #323EBE;
}

header {
  margin: .5rem 0 1rem;
}

pre {
  border-radius: 6px;
}

body code[class*="language-"],
body pre[class*="language-"] {
  font-size: .9rem;
}

.container {
  max-width: 40rem;
  margin: 0 auto 2rem;
}

@media (max-width: 1024px) {
  .container {
    margin: 0 1rem;
  }
  html, body {
    font-size: 18px;
  }
}

.logo {
  color: inherit;
  font-size: 2rem;
  text-decoration: none;
}

.logo:visited {
  color: inherit;
}

.home-article {
  text-decoration: none;
}
.home-article:link {
  color: inherit;
}
.home-article:visited {
  color: inherit;
}
.home-article:hover {
  color: #323EBE;
}

.home-article h2 {
  font-size: 1.4rem;
  margin: 1rem 0 0;
}

.home-article time {
  font-size: .7rem;
}

.post-title {
  margin: 1rem 0 .2rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.post-date {
  font-size: .9rem;
}
